@charset "UTF-8";

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  color: #7F8C8D;
  line-height: 1;
  font-family: OpenSans;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: OpenSans;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #7F8C8D;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 68.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.visually-hidden,
input[type=checkbox],
input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

[class*=-ibg] {
  position: relative;
  background-repeat: no-repeat;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.city__active {
  margin-bottom: 1.875rem;
  text-align: center;
}

.city__item {
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
}

.city__item.active {
  text-decoration: underline;
  font-weight: 500;
}

.text {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: 400;
  font-style: normal;
}

.btn {
  color: white;
  width: 100%;
  max-width: 12.5rem;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  border-radius: 200px;
  padding: 20px 45px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 0;
  height: 0;
  border: 0;
}

summary {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  width: 100%;
  padding: 5px 0;
}

input,
select,
textarea {
  position: relative;
  height: 45px;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 10px 10px 10px 20px;
  font-size: 0.875rem;
  background: #ECF0F1;
  color: #2C3E50;
  border-radius: 10px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 124px;
  cursor: pointer;
  resize: none;
}

form {
  margin-top: 1.875rem;
  max-width: 37.5rem;
  margin: 0px auto;
}

.form__row {
  position: relative;
  height: 100%;
}

.form__row:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form__mark-isValid {
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff067;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__mark-isValid img {
  width: 100%;
  height: 100%;
}

.form__label-checkbox,
.form__row-radio {
  position: relative;
  display: block;
  padding: 0 0 0 40px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  pointer-events: all;
}

.form__button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 1rem;
}

.checkbox-span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25px;
  border-radius: 5px;
  height: 25px;
  border: 1px solid #000;
}

input[type=checkbox]:checked,
input[type=radio]:checked + .checkbox-span {
  background-image: url(../images/icons/mark.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.875rem 0.625rem;
}

.popup__content {
  width: 300px;
  background: white;
  padding: 3rem 1.3125rem 2.375rem 1.6875rem;
  position: relative;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.icon-close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
}

.icon-close .close::before,
.icon-close .close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 20%;
  position: absolute;
  width: 70%;
  height: 2px;
}

.icon-close .close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: rgb(0, 0, 0);
}

.icon-close .close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: rgb(0, 0, 0);
}

.menu__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c3e50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: auto;
  padding: 202px 0 30px 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.375em;
  position: relative;
}

.menu__list::before {
  content: url(../images/icons/logo-menu.svg);
  position: absolute;
  height: auto;
  right: 0;
  position: relative;
  top: -30px;
}

.menu__link {
  color: white;
  font-size: 1.25rem;
  font-weight: 800;
}

.icon-menu {
  display: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.menu__item {
  padding: 5px 0;
}

.footer {
  background: #ECF0F1;
}

.footer__body {
  padding: 36px 0 28px 0;
}

.footer__logo {
  text-align: center;
  margin-bottom: 1.875rem;
}

.footer__list {
  text-align: center;
  margin-bottom: 2.5rem;
}

.footer__item:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.footer__link {
  color: #2C3E50;
  display: block;
  font-size: 0.875pxrem;
  text-decoration: underline;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 0.875rem;
  color: #2C3E50;
  text-align: center;
  font-weight: 700;
}

.mainscreen__body {
  text-align: center;
  padding-top: 52px;
  margin-bottom: 4.25rem;
}

.slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  gap: 52px;
}

.slide__image {
  max-width: 18.75rem;
  margin: 0px auto;
}

.slide__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.slide__title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #2C3E50;
  margin-bottom: 3.25rem;
  line-height: 1.5;
  max-width: 20.9375rem;
  margin: 0px auto;
}

.slide__btn {
  position: absolute;
  top: 325px;
  left: 50%;
  background-color: #8e44ad;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.swiper-button-next,
.swiper-button-prev {
  height: 2.5rem;
  width: 2.5rem;
  bottom: 25px;
  top: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  bottom: calc(25% - 3px);
}

.swiper-button-prev {
  left: calc(50% - 70px);
}

.swiper-button-prev::after {
  content: url(../images/icons/arrL.svg);
}

.swiper-button-next {
  left: calc(50% + 70px);
}

.swiper-button-next::after {
  content: url(../images/icons/arrR.svg);
}

.swiper-pagination {
  bottom: 35px !important;
}

.swiper-pagination-bullet {
  border: 1px solid #2c3e50;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #8e44ad;
  border: none;
}

.acc_active .games__head::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.games__head {
  background-color: #ecf0f1;
  position: relative;
}

.games__head::before,
.games__head::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 41px;
  width: 24px;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #bababa;
}

.games__head::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.games__head-desk {
  display: none;
}

.games__item:nth-child(odd) .games__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.games__item:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.games__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  gap: 9px;
}

.games__subtitle {
  font-weight: 700;
  font-size: 0.875rem;
  color: #7f8c8d;
  margin-bottom: 0.3125rem;
}

.games__title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #2C3E50;
}

.games__body {
  padding: 23px 0;
}

.games__wrapper {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.games__image {
  text-align: center;
  margin-bottom: 1.375rem;
}

.games__image img {
  border-radius: 25px;
  overflow: hidden;
}

.games__text {
  max-width: 665px;
  margin: 0 auto 13px auto;
}

.games__tryit {
  text-align: center;
  font-weight: 800;
  font-size: 1.125rem;
  margin-bottom: 0.8125rem;
  color: #2C3E50;
}

.games__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
}

.about__body {
  padding: 43px 0;
}

.about__row:not(:last-child) {
  margin-bottom: 1.375rem;
}

.about__row:nth-child(3) .about__head {
  margin-bottom: 2rem;
}

.about__title {
  color: #2C3E50;
  font-size: 4rem;
  line-height: 1.2;
  max-width: 34.375rem;
  margin: 0px auto 8px auto;
}

.about__title span {
  font-weight: 800;
}

.about__text {
  margin: 0px auto;
  max-width: 35rem;
}

.about__text p:not(:last-child) {
  margin-bottom: 15px;
}

.about__head {
  color: #2C3E50;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.9375rem;
}

.about__slider {
  padding: 0 20px;
  max-width: 1100px;
}

.about__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__slide {
  text-align: center;
}

.column-about {
  text-align: center;
}

.column-about:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.column-about__count {
  color: #2C3E50;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 0.625rem;
}

.column-about__title {
  font-size: 1rem;
  font-weight: 800;
  color: #6A6B6C;
  margin-bottom: 0.625rem;
}

.column-about__subtitle {
  max-width: 20.9375rem;
  font-size: 0.75rem;
  margin: 0px auto;
}

.form-block__body {
  padding-bottom: 42px;
}

.form-block__title {
  font-weight: 800;
  color: #2C3E50;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form-block__subtitle {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 2.3125rem;
}

.form-block__subtitle a {
  color: #0500FF;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: underline;
}

.form-block__icon {
  margin-bottom: 0.875rem;
}

.form__label {
  font-weight: 800;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}

.form__label-radio {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 2;
}

.form__policy {
  color: #0500FF;
  text-decoration: underline;
}

.form__btn {
  background-color: #F1C40F;
  margin: 0px auto;
  display: block;
  margin-top: 1.875rem;
}

.checkbox-span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ECF0F1;
  border: none;
  border-radius: 10px;
}

.error .header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.error .main__body {
  position: absolute;
  top: 157px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
}

.error .main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.error .main__err {
  margin-bottom: 10px;
  width: 30%;
}

.error .main__404 {
  margin-bottom: 50px;
}

.error .main__image-ibg {
  height: 100vh;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.error .main__image-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.error .main__image-ibg img {
  opacity: 0.2;
}

.error .main__subtitle {
  color: black;
  font-size: 14px;
  margin-bottom: 140px;
  text-align: center;
}

.error .main__btn {
  background-color: #8e44ad;
  margin: 0 auto;
}

@media (min-width: 47.99875em) {
  .btn:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .menu__body {
    display: block;
    position: static;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    background-color: transparent;
    height: auto;
    overflow: hidden;
    padding: 0;
  }

  .menu__list::before {
    display: none;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 20px;
  }

  .menu__link {
    color: #2C3E50;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    max-width: 45rem;
    margin: 0px auto;
    gap: 58px;
  }

  .header__logo {
    margin: 0px auto;
    width: 194px;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .slide__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    padding-top: 76px;
    max-width: 1100px;
    margin: 0 auto;
  }

  .slide__image {
    max-width: none;
    opacity: 0.7;
  }

  .slide__image img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .slide__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 20px;
    padding-bottom: 109px;
    text-align: start;
  }

  .slide__title {
    max-width: none;
    margin-bottom: 3rem;
    text-align: start;
    max-width: 18.75rem;
    margin: 0;
    font-size: 2.75rem;
    margin-bottom: 3rem;
  }

  .slide__btn {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .swiper-button-prev {
    left: calc(50% + 85px);
  }

  .swiper-button-next {
    left: calc(50% + 235px);
  }

  .swiper-pagination {
    left: 165px !important;
  }

  .form-block__body {
    padding-bottom: 22px;
  }

  .error .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 300px;
  }

  .error .main__subtitle {
    margin-bottom: 170px;
  }
}

@media (min-width: 61.99875em) {
  .city__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .city__item {
    width: 33.3%;
  }

  .text {
    font-size: 0.875rem;
  }

  .popup__content {
    width: 900px;
    padding: 3.5rem 4.625rem 3rem 2.3125rem;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 42px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slide__title {
    font-size: 3.75rem;
    max-width: 42.1875rem;
  }

  .games__head {
    background-color: transparent;
  }

  .games__head:before,
  .games__head::after {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  .games__head-mobile {
    display: none;
  }

  .games__head-desk {
    display: block;
  }

  .games__item:nth-child(odd) .games__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .games__icon {
    width: 95px;
    height: 95px;
  }

  .games__icon img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .games__row {
    gap: 21px;
  }

  .games__subtitle {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .games__title {
    font-size: 1.5rem;
  }

  .games__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .games__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin: 0;
  }

  .games__text {
    max-width: 440px;
    margin-bottom: 1.4375rem;
  }

  .games__tryit {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }

  .about__row:not(:last-child) {
    margin-bottom: 5.125rem;
  }

  .about__row:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 65px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }

  .about__row:nth-child(3) .about__head {
    margin-bottom: 4.375rem;
  }

  .about__title {
    font-size: 128px;
  }

  .about__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 66px;
  }
}

@media (max-width: 61.99875em) {
  .about__text > p:first-child {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .__active-menu-burger .menu__body {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .__active-menu-burger .icon-menu span {
    width: 0;
  }

  .__active-menu-burger .icon-menu::before,
  .__active-menu-burger .icon-menu::after {
    background-color: white;
    height: 0.1875rem;
    border-radius: 5px;
  }

  .__active-menu-burger .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .__active-menu-burger .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    background-color: transparent;
    z-index: 4;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #d9d9d9;
    border-radius: 5px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 5px;
  }
}